.searchbar,
.searchbar form,
.searchbar input {
    flex: 1;
    display: flex;
}
.searchbar {
    align-items: center;
    padding: 1em;
}

.searchbar input {
    padding: 0.5em;
    outline: none;
    border: 2px solid transparent;
    transition: border 0.3s var(--ease-out-quint);
}

.searchbar input:focus {
    border: 2px solid var(--color-accent);
}

.fa-search {
    color: var(--color-white);
}

.fa-search:hover {
    color: var(--color-accent);
}
