:root {
    --color-black: hsl(0, 0%, 0%);
    --color-grey: hsl(0, 0%, 50%);
    --color-white: hsl(0, 100%, 100%);
    --color-primary: var(--color-grey);
    --color-primary-dark: var(--color-black);
    --color-accent: var(--color-white);
}
